.DS_Store
nimcache/
nimblecache/
htmldocs/
testresults/
/tests/*
!/tests/*.nim
!/tests/*.nims
!/tests/fuzz
!/tests/fuzz/*.cfg
/examples/*
!/examples/*.nim
!/examples/*.nims
!/examples/*.html
!/examples/www/
!/examples/www/*